$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 51.25em; // 900px
$bp-700: 43.75em; // 700px
$bp-small: 40.625em; // 600px
$bp-smallest: 31.25em; // 500px


$default-c-margin: 7rem;
$default-medium-mt: 2.8125rem;


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  font-size: 100%; // 1rem = 16px 16px/16

  @media only screen and (max-width: $bp-largest) {
    font-size: 80%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background-color: #ffff;
}

a {
}

input::placeholder {
  font-family: "Montserrat", sans-serif;
}
input:focus {
  outline: none;
}

li {
  list-style: none;
}