@import "../../../sass/base/function";
@import "../../../sass/base/base";
.cart {
  .container {
    .table {
      .head {
        display: grid;
        grid-template-columns: 1fr repeat(3, minmax(pxToRem(150), max-content));
        justify-content: center;
        align-items: center;
        .prdouct {
          margin-right: auto;
        }
        .item {
          padding: 1rem 2rem;
        }
      }
      .body {
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: $bp-small) {
          overflow-x: scroll;
        }
        .item {
          display: grid;
          grid-template-columns: max-content 1fr repeat(
              3,
              minmax(pxToRem(150), max-content)
            );
          grid-gap: 1rem;
          padding: 2rem 0;
          align-items: center;
          &:not(:last-child) {
            border-top: 2px solid #f6f7f8;
            border-bottom: 2px solid #f6f7f8;
          }
          &:last-child {
            border-bottom: 2px solid #f6f7f8;
          }
          .col {
            display: flex;
            align-items: center;
            justify-content: center;
            .remove {
              cursor: pointer;
              background-color: rgba(255, 104, 117, 0.1);
              border-radius: 50%;
              padding: 0.1rem 0.3rem;
            }
          }
          .pname {
            margin-right: auto;
          }
          .image {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 1rem;
          }
          .update {
            display: flex;
            column-gap: 0.2rem;
            button {
              padding: 0.6rem;
            }
          }
        }
      }
    }
    .summary {
      margin-top: 4rem;
      display: grid;
      grid-template-columns: 1fr minmax(pxToRem(377), 1fr);
      @media only screen and (max-width: $bp-small) {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
      }
      .vouchar {
        display: flex;
        align-items: flex-start;
        input,
        button {
          padding: 1rem 1rem;
          font-size: 18px;
          line-height: 27px;
          font-weight: 400;
        }
        input {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border: 1px solid #f1f3f4;
        }
        button {
          font-family: "Montserrat", sans-serif;
          border: 1px solid #33a0ff;
          background-color: #33a0ff;
          color: #ffffff;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      .details__total {
        margin-left: auto;
        @media only screen and (max-width: $bp-small) {
          margin: 0;
        }
        .details {
          display: flex;
          flex-direction: column;
          margin-left: auto;
          ul {
            display: flex;
            justify-content: space-between;
            min-width: pxToRem(377);
            li {
              font-size: pxToRem(18);
              line-height: pxToRem(27);
              color: #262626;
              &:not(:first-child) {
                padding-bottom: 1rem;
              }
            }
          }
        }
        .total {
          border-top: 1px solid #f6f7f8;
          padding: 2rem 0;
          ul {
            display: flex;
            justify-content: space-between;
            li {
              font-size: 30px;
              line-height: 45px;
              color: #22262a;
            }
          }
        }
        .checkout {
          display: flex;
          button {
            flex-grow: 1;
            background: #33a0ff;
            color: #ffffff;
            font-size: 18px;
            line-height: 27px;
            color: #ffffff;
            padding: 1rem 0;
            font-family: inherit;
          }
        }
      }
    }
  }
}
.model {
  .popup {
    position: absolute;
    width: 100%;
    max-width: pxToRem(700);
    background-color: #ffffff;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 12;
    padding: 2rem 2rem;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    

    // @media only screen and (max-width: $bp-small) {
    //  right: 0;
    //  left: 0;
    //  width: 100%;
    //  transform:none;
    // }

    row-gap: 1rem;
    .navigations {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .item {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
    .title {
      font-weight: 600;
      font-size: pxToRem(32);
      line-height: pxToRem(38);
      text-align: center;
      color: #40bfff;
    }
    .stages {
      display: flex;
      justify-content: center;
      position: relative;
      .items {
        display: flex;
        position: relative;
        column-gap: 1rem;
        &::after {
          position: absolute;
          content: "";
          height: 2px;
          background-color: lightgray;
          width: 100%;
          top: calc(50% - 1px);
          z-index: 13;
        }
      }
      .active {
        background-color: #40bfff;
      }
      .deactive {
        background-color: lightgray;
      }
      .item {
        z-index: 14;
        width: pxToRem(36);
        height: pxToRem(36);
        color: #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    
  }
}

.form {
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
  .row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    column-gap: 1rem;
    row-gap: 1rem;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }
    
    .save__card {
      display: flex;
      flex-direction: row;
      column-gap: 1rem;
      align-items: center;

      input[type= "checkbox"]:checked {
        
        background-color: #fff;
        border: 1px solid blue;
      }
      label {
        color: #999999;
        font-size: pxToRem(14);
        line-height: pxToRem(21);
      }
    }
    
    .done {
      display: flex;
      justify-content: center;
      width: 100%;
      .completed {
        width: pxToRem(110);
        height: pxToRem(109);
        background: #40BFFF;
        box-shadow: 0px 10px 30px rgba(64, 191, 255, 0.24);
        border-radius: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    
    .success {
      width: 100%;
      font-size: pxToRem(24);
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.5px;
      color: #223263;
      text-align: center;
    }
    .col {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
  
      input[type="text"],
      textarea {
        width: 100%;
        padding: 1rem;
        border: none;
        border-radius: 10px;
        background-color: rgba(223, 222, 222, 0.3);
        color: #223263;
        font-family: "Montserrat", sans-serif;
        &::placeholder {
          color: #999999;
        }
      }
    }
    .title {
      font-size: pxToRem(20);
      line-height: pxToRem(23);
      text-transform: capitalize;
      display: block;
      color: #40bfff;
      text-align: left;
      margin-bottom: 1rem;
    }
    .payments {
      .lists {
        display: flex;
        column-gap: 1rem;
        flex-direction: column;
        ul {
          display: flex;
          justify-content: space-between;
         
          .payment__name {
            flex: 1;
            font-size: 12px;
            line-height: 150%;
            letter-spacing: 0.5px;
            color: #223263;
            font-weight: 600;
          }
          li {
            display: flex;
            align-items: center;
            padding: .5rem .5rem;

            
          }
        }
      }
      .selected {
        background-color: #EBF0FF;
      }
    }
  }

  .btn-pay {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    button {
      background: #33A0FF;
      border-radius: 10px;
      color: #ffffff;
      font-size: pxToRem(18);
      letter-spacing: -0.02em;
      line-height: 27px;
      padding: 1rem 4rem;
      font-weight: 600;
    }
  }
}
