.bestseller {
  max-width: 82.1875rem;
  margin-top: 7rem;
  //transform: translateY(-9.185rem);
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    //transform: translateY(0);
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: pxToRem(35);
    line-height: pxToRem(52);
    color: #22262a;
    text-align: center;
  }

  &__ul {
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      margin-top: 1rem;

      .selected {
        color: #33a0ff;
        border-bottom: 2px solid #33a0ff;
      }

      .item {
        font-family: "Montserrat", sans-serif;
        font-size: pxToRem(22);
        line-height: pxToRem(33);
        padding: 0.8rem 1.6rem;
        cursor: pointer;

        &:active {
          color: #33a0ff;
          border-bottom: 2px solid #33a0ff;
        }
      }
    }
  }
  &__tabcontent {
    position: relative;
    width: 100%;
    margin-top: 2rem;
    min-height: pxToRem(254);

    .tab__item {
      width: 100%;
      position: relative;
      transition: visibility 0.3s linear, opacity 0.3s linear;
    }

    .hide {
      height: 0px;
      visibility: hidden;
      opacity: 0;
    }

    .show {
      height: auto;
      visibility: visible;
      opacity: 1;
    }
  }
  &__loadmore {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    span {
      font-style: normal;
      font-weight: 600;
      font-size: pxToRem(20);
      line-height: pxToRem(30);
      color: #33a0ff;
      cursor: pointer;
      border-bottom: 1px solid currentColor;
     
    }
  }
}

.bs-active-li {
  color: #33a0ff;
  border-bottom: 2px solid #33a0ff;
}
