.section5 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem;
    background-color: #40BFFF;
    margin-top: 4rem;

    .item-1 {
        max-width: pxToRem(592);
        margin: auto;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
       
    }

    &__item {
        .title {
            color: #FFFFFF;
            font-style: normal;
            font-weight: normal;
        }
        .title1{
            font-size: pxToRem(55);
            line-height: pxToRem(82);
        }
        .title2 {
            font-size: pxToRem(24);
            line-height: pxToRem(36);
        }
        .title3 {
            font-weight: 600;
            font-size: pxToRem(20);
            line-height: pxToRem(30);
        }

        .shoe {
            position: relative;
            width: 100%;
            transform: translateY(-4rem);
        }
    }
}